// Fonts
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

// Variables
@import 'variables';

body {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    width: 100%;
    margin: auto;
    height: auto;
    align-items: center;
}

.logo-container,
.nav-links,
.usernav,
.quick-search{
    display: flex;
}

@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
}

@mixin margin-side($margin) {
    margin-right: $margin;
    margin-left: $margin;
}

@mixin margin-tops($margin-top,$margin-bottom) {
    margin-bottom: $margin-bottom;
    margin-top: $margin-top;
}

#quick-search-container {
    @include margin-side(20px);
}

#quick-search-input {
    width: 200px;
    height: 35px;
    font-size: .85em;
    font-weight: 700;
    color: #424242;
    border: 2px solid rgb(43, 42, 42);

    @include border-radius(20px);

    padding: 10px 30px;
    background: #ffffff url("/images/icon-search.svg") no-repeat 9px 8px;
}

.logo-container {
    flex: 2;
}

form {
    flex: 0.1;
}

.popular-text,
.recent-text,
.known_for {
    width: 90%;
    margin: auto;
}

.text-row {
    display: flex;
    align-items: center;

    h2 {
        flex: 1;
        font-weight: 700;
    }

    a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
}

.row {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    justify-content: space-around;
    width: 80%;
}


.people {
    flex: 20%;
    width: 25%;
    padding: 0 20px;

    img {
        margin-top: 8px;
        vertical-align: middle;
        max-width: 100%;
    }
    &:hover {
        opacity: $def_opacity;
    }
}

.movie, .movie_more {
    flex: 20%;
    width: 25%;
    padding: 0 20px;
    margin-bottom: 20px;

    img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
    }

    &:hover {
        opacity: $def_opacity;
    }
}

@media screen and (max-width: 700px) {
    .movie, .movie_more{
        flex: 40%;
        img {
            width: 100%;
        }
    }
}

@media screen and (max-width: 1040px) {
    .movie, .movie_more {
        flex: 40%;
    }
}

.movie-row {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 80%;
}

.movie-main {
    width: 350px;
}

.movie-box {
    text-decoration: none;
    text-align: left;
}

.movie-title {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

div.movie-text {
    @include margin-tops(0, 20px);
    flex: 0.8;
    margin-right: 50px;
}

@mixin name ($borderWidth, $borderStyle, $borderColor) {
    border-top-width: $borderWidth;
    border-top-style: $borderStyle;
    border-top-color: $borderColor;
}

.recent-text {
    @include name(1px, solid, $grey);
}

.line {
    @include name(1px, solid, $grey);
    width: 80%;
    margin: auto;
    @include margin-tops(15px, 0px);
}

.actors div {
    @include margin-tops(3px,3px);
}

.avatar-thumb {
    border-radius: 50%;
}

.user-thumb {
    border-radius: 50%;
    object-fit: cover;

    img {
        border-radius: 50%;
        position: relative;
    }
}

.photo {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    object-fit: cover;
}

.list-cast {
    display: flex;
    align-items: center;
    max-width: 300px;
}

.list-cast-info {
    margin-left: 10px;
}

fieldset,
label {
    margin: 0;
    padding: 0;
}

.movie-main {
    @include margin-tops(20px, 0px);
}

.movie-text {
    h1 {
        font-weight: 900;
    }

    h4 {
        @include margin-tops(0px, 0px);
    }

    h5 {
        text-align: justify;
        text-justify: inter-word;
        font-weight: 400;
        margin-top: 5px;
    }
}

.info {
    @include margin-tops(20px,20px);
}

.crew {
    margin-left: 10px;
}

.tableCell a {
    text-decoration: none;
    color: black;
}


.reviews {
    flex: 1;
    margin-left:5%;
}

.critic-review{
    text-align: justify;
}

/* Start Navbar */

.usernav {
    border-radius: 20px;
    background-color: #333;
    margin-right: 20px;

    a.user-thumb-name {
        display: flex;
        float: left;
        color: #f2f2f2;
        margin: 0 auto;
        text-align: center;
        padding: 10px 10px;
        text-decoration: none;
        font-size: 15px;
    }

    a:hover {
        background-color: #ddd;
        color: black;
    }
}

.topnav {
    justify-content: space-around;
    overflow: hidden;
    background-color: #333;
    border-radius: 20px;
    margin-right: 20px;

    a {
        display: flex;
        /*added*/
        float: left;
        color: #f2f2f2;
        padding: 10px 10px;
        text-decoration: none;
        font-size: 15px;
    }

    a:hover {
        background-color: #ddd;
        color: black;
    }

    a.principal:hover {
        opacity: $def_opacity;
        background-color: orange;
    }

    a.principal {
        background-color: rgb(221, 55, 55);
        color: white;
    }
}

.more,
.less,
.all,
.few,
.all_u_rev,
.few_u_rev{
    border-radius: 15px 15px 15px 15px;
    background-color: rgb(221, 55, 55);;
    clear: both;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 14px;
    margin: auto;
    margin-bottom: 20px;
    padding: 6px 0;
    text-align: center;
    text-transform: uppercase;
    width: 320px;
}

.link {
    display: flex;
}

.moretext{

    span {
        display: none;
    }

    a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
} 

.bio-text {
    display: block;
}

@media screen and (max-width: 600px) {

    .topnav a.principal,
    .topnav a {
        float: none;
    }
}

/* End Navbar */

.container {
    padding: 16px;
    max-width: 600px;
    margin: auto;
}

.utilizadores {
    text-align: center;
    @include margin-tops(15px,15px);
}

.radio-inline {
    @include margin-side(30px);
}

/* Full-width input fields */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

textarea {
    @include margin-tops(10px, 0);
    border: none;
    resize: none;
    background-color: #f1f1f1;
 }


/* Overwrite default styles of hr */
hr {
    border: 2px solid #f1f1f1;
    margin-bottom: 25px;
}

.registerbtn, .updatebtn{
    background-color: rgb(221, 55, 55);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    &:hover{
        opacity: $def_opacity;
    }
}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}

.avatar-container {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 50%;
}

.loginbtn,
.reset_password {
    background-color: rgb(221, 55, 55);
    color: white;
    padding: 20px 20px;
    border: none;
    cursor: pointer;
    width: 105%;
    opacity: 0.9;
}

.login-container,
.reset-container {
    max-width: 600px;
    margin: auto;
    @include margin-tops(60px, 60px);
}

.psw {
    float: right;
}

.procura-principal {
    text-align: center;
    width: 60%;
    margin: auto;
}

.campos-procura {
    margin: auto;
    margin-right: 20px;
    display: inline-block;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 1px 1px 5px grey;
    background: #ddd;
    width: 220px;

    select {
        border: 0;
        color: rgb(8, 6, 6);
        background: #ddd;
        font-size: 15px;
        font-weight: bold;
        padding: 2px 10px;
        text-align: center;
        text-align-last: center;
    }
    .searchbtn {
        background: rgb(221, 55, 55);
        font-size: 15px;
        color: white;
        padding: 4px 50px;
        border: none;
        cursor: pointer;
        opacity: $def_opacity;
        width: 100%;
    }
}

.submit-bttn {
    background: rgb(221, 55, 55);
    font-size: 15px;
    color: white;
    padding: 12px 50px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    &:hover{
        opacity: $def_opacity;
    }
}

.updt_button{
    background: rgb(221, 55, 55);
    text-decoration: none;
    font-size: 15px;
    color: white;
    padding: 12px 50px;
    border: none;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
    &:hover{
        opacity: $def_opacity;
    }
}
/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: left;
}

.rating>input {
    display: none;
}

.rating>label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating>.half:before {
    content: "\f089";
    position: absolute;
}

.rating>label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating>input:checked~label,
/* show gold star when clicked */
.rating:not(:checked)>label:hover,
/* hover current star */
.rating:not(:checked)>label:hover~label {
    color: #FFD700;
}

/* hover previous stars in list */

.rating>input:checked+label:hover,
/* hover current star when changing rating */
.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,
/* lighten current selection */
.rating>input:checked~label:hover~label {
    color: #FFED85;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    @include margin-tops(0px, 20px);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 4s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

.dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    top: 100%;
    display: none;
    position: absolute;
    background-color: #333;
    z-index: 1;

    a {
        float: none;
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
  }
  /* Show the dropdown menu on hover */
  .dropdown:hover > .dropdown-content {display: block;}

    /*     .forum_btn{
            
            @include margin-tops(30px, 5px);
            @include margin-side(10px);

            border-radius: 20px 20px 20px 20px;
            display: block;
            width: 100%;
            border: none;
            background-color:rgb(221, 55, 55);
            color: white;
            padding: 40px 30px;
            font-size: 30px;
            cursor: pointer;
            text-align: center;
    } */

@mixin appearance($appearance) {
        -webkit-appearance: $appearance;
        -moz-appearance: $appearance;
        appearance: $appearance;
}

    .forum_btn{
        width: 100%;
        
        @include appearance(button);
        @include margin-tops(30px, 5px);
        @include margin-side(10px);

        border-radius: 20px 20px 20px 20px;
        background-color:rgb(221, 55, 55);
        color: white;
        padding: 30px 30px;
        font-size: 30px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;

        &:hover{
            opacity: $def_opacity;
        }
    }

    .edit_img{
        display: none;
        position: absolute;
        background:gray;
        color:white;
        width: 250px;
    }

    .trash{
        float: right;
        margin-right: 2em;
        a{
            color: black;
        }
    }
